@model IEnumerable<DevCard.Models.Article>


@foreach (var item in Model) {
    <div class="col-md-4 mb-5">
        <div class="card blog-post-card">
            <img class="card-img-top" src="~/assets/images/blog/blog-post-thumb-card-1.jpg" alt="image">
            <div class="card-body">
                <h5 class="card-title">
                    <a class="theme-link" href="blog-post.html">
                    @item.Title
                    </a>
                </h5>
                <p class="card-text">
                    @item.Description
                </p>
                <p class="mb-0"><a class="more-link" href="blog-post.html">ادامه مطلب</a></p>

            </div>
        </div>
    </div>
}
